nav {
  margin-bottom: 25px;
}

.nav-link {
  color: lightgrey;
  padding: 5px;

  &:hover {
    color: white;
  }
}

.nav-brand {
  color: white;
  padding: 10px;
  font-size: 1.1em;

  &:hover {
    color: white;
    text-decoration: none;
  }
}
